@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding:0px;
    margin:0px;
    font-family:"Poppins" sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px  #333;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
  border-bottom:1px solid
}

#Utable{
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 16px;
      }
      
      tr:nth-child(even) {
        background-color: #D6EEEE;
      
}


